@font-face {
  font-family: 'Gilroy';
  src: url(../font/Gilroy-Semibold.ttf) format("truetype");
  font-style: normal;
  font-weight: 600;
  font-display: fallback;
}

@font-face {
    font-family: 'GillSansC';
    src: url(../font/GillSansC.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
  }


  @font-face {
    font-family: 'Inter';
    src: url(../font/Inter-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
  }