@import './_font';

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: "Gilroy",sans-serif;
    font-weight: 600;
    color: #000;
    font-size: 16px;
    line-height: 21.79px;
  }
  
  .bodyStopScroll {
    overflow: hidden;
    height: 100vh;
  }
  
  ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  a:hover {
    color: inherit;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    font-weight: 600;
  }
  
  button {
    outline: none;
    border: none;
  }
  
  input, textarea, select, button {
    border: none;
    outline: none;
  }
  
  .container {
    max-width: 1500px;
  }

  .maxWidth {
    max-width: 1600px;
    margin: 0 auto;
    overflow-x: hidden
  }

  .header {
    margin-top: 40px;
    &-item {
        padding: 20px 9px;
        background: #000;
        border-radius: 21px;
        li {
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
        }
        &__link {
            font-size: 20px;
            line-height: 24px;
            text-transform: uppercase;
            padding: 10px;
            border-radius: 12px;
            transition: .3s all;
            background: transparent;
            color: #fff;
            &:hover {
                background: #fff;
                color: #000;  
            }
        }
        .active {
            background: #fff;
            color: #000;
        }
    }
    .burger {
      position: relative;
      z-index: 100;
      height: 15px;
      svg {
        &:last-child {
          display: none;
        }
      }
    }
    .clickedBurger{
      svg {
        display: none;
        &:last-child {
          display: block;
        }
      }
    }
  }

  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    background: #000;
    z-index: 99;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    overflow-y: scroll;
    transition: .3s all;
    &-item {
      text-align: center;
      li {
        margin-bottom: 15px;
      }
      &__link {
        color: #fff;
        font-size: 18px;
        line-height: 18px;
        text-transform: uppercase;
      }
    }
  }
  .showMenu {
    left: 0;
  }

  .title__text {
    font-size: 80px;
    line-height: 80px;
    span {
        color: #FF2500;
    }
  }
  .title__text-sub {
    font-size: 70px;
    line-height: 70px;
    span {
        color: #FF2500;
    }
  }

  .first {
    margin-top: -30px;
    .title__text {
        margin: 22px 0 17px;
    }
    img {
        width: 100%;
        object-fit: contain;
    }
    .logo {
        width: 194px;
    }
    &-box {
      width: 100%;
        top: 47%;
        left: 50%;
        transform: translate(-50%, -50%);
        &__btn {
            width: 150px;
            height: 59px;
            border-radius: 23px;
            background: #000;
            color: #fff;
            font-size: 24px;
            text-transform: uppercase;
            transition: .3s all;
            &:hover {
                transform: translateY(-5px);
            }
        }
    }
  }

  .banner-text {
    padding: 162px 0;
    background: #000;
    .title__text {
        color: #D9D9D9;
        span {
            color: #FF2500;
        }
    }
  }

  .aside {
    background-image: url(../img/png/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;

    .free-lesson {
        margin: 56px 0 176px;
        &-head {
          background: #000;
          padding: 10px 8px;
          border-radius: 12px;
          margin: 100px auto 40px;
          width: 65%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .input-box {
            width: 50%;
            height: 55px;
          }
          .lesson-inp {
            display: none;
          }
          .lesson-lab {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            border-radius: 12px;
            background: #000;
            color: #fff;
            text-transform: uppercase;
            font-size: 20px;
            cursor: pointer;
          }
          .lesson-inp:checked ~ .lesson-lab {
            background: #fff;
            color: #000;
          }
        }
        &-body {
          width: 75%;
          height: 694px;
          margin: 0 auto;
          .lesson-video {
            width: 100%;
            height: 100%;
            position: relative;
            margin: 60px 0;
            border-radius: 20px;
            overflow: hidden;
            border: 2px solid #000;
            .video-js {
                .vjs-big-play-button {
                    background: transparent;
                    top: 40%;
                    margin: 0  !important;
                    transform: translate(-50%, -50%);
                    transition: .3s all;
                    border: none;
                }
                &:hover {
                    .vjs-big-play-button {
                        transform: translate(-50%, -50%) scale(1.1);
                    }
                }
                .vjs-play-progress {
                    background-color: #F37A10;
                }
                .vjs-volume-level {
                    background-color: #F37A10; 
                }
                
            }
            .vjs-big-play-button .vjs-icon-placeholder:before {
                content: url(../img/svg/play.svg) !important;
                color: #F37A10;
                border-radius: 50%;
                position: absolute !important;
                top: 65% !important;
                left: 55% !important;
                transform: translate(-50%, -50%) !important;
            }
            .video-js {
                width: 100%;
                height: 100%;
                .vjs-poster img {
                    object-fit: cover;
                    object-position: top;
                }
            }
        }
        }
    }

    .education {
      .title__text-sub {
        margin-bottom: 60px;
      }
      &-item {
        background: #000;
        border-radius: 20px;
      }
      &-box {
        width: 100%;
        height: 655px;
        background: #000;
        color: #fff;
        border-right: 1px solid #fff;
        padding: 30px;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        &__title {
          font-size: 50px;
          line-height: 50px;
        }
        &__text {
          font-size: 32px;
          line-height: 32px;
          text-indent: 50px;
        }
        &__img {
          max-height: 395px;
        }
      }
      &-btn {
        width: 74px;
        height: 655px;
        writing-mode: tb-rl;
        display: flex;
        font-size: 32px;
        line-height: 32px;
        align-items: center;
        background: #000;
        color: #fff;
        padding: 30px 0;
        border-right: 1px solid #fff;
        border-radius: 0 20px 20px 0;
        cursor: pointer;
        transition: .1s all;
        &:hover {
          transform: translateX(10px);
        }
      }
    }

    .faq {
      margin: 180px 0 160px;
        &__title {
            font-size: 50px;
            line-height: 60px;
            margin-bottom: 50px;
        }
        &-item {
            border: 3px solid #000;
            color: #000;
            max-height: 92px;
            border-radius: 30px;
            background: transparent;
            overflow: hidden;
            cursor: pointer;
            margin-top: 20px;
            transition: .3s all;
        }
        &-head {
            font-size: 32px;
            line-height: 32px;
            height: 92px;
            display: flex;
            align-items: center;
            padding: 15px 30px;
            &:hover {
                background: #000;
                color: #D9D9D9;
            }
        }
        &-body {
            font-size: 28px;
            line-height: 28px;
            padding: 30px;
        }
        .showFaq {
            max-height: 1000px;
            transition: .3s all;
            .faq-head {
                background: #000;
                color: #D9D9D9; 
            }
        }
        &__link {
            width: 100%;
            height: 91px;
            border-radius: 20px;
            color: #fff;
            font-size: 32px;
            line-height: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #000;
            margin-top: 40px;
            span {
                margin-right: 27px;
                transition: .3s all;
            }
            &:hover {
                span {
                    margin-right: 50px;
                }
            }
        }
    }
  }

  .footer {
    padding: 56px 0;
    background: #000;
    border-radius: 27px 27px 0 0;
    color: #fff;
    font-size: 32px;
    line-height: 32px;
  }

  .teacher {
    &-card {
      background: #000;
      color: #fff;
      border-radius: 10px;
      padding: 20px;
      margin-top: 30px;
      position: relative;
      overflow: hidden;
      &__png {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -20px;
      }
      &-info {
        width: 25%;
        margin-top: 16px;
        margin-right: 40px;
        &:last-child {
          margin-right: 0;
        }
      }
      &__title {
        font-size: 32px;
        line-height: 32px;
      }
      &__text {
        font-size: 22px;
        line-height: 26px;
        margin-top: 15px;
        font-weight: 400;
        font-family: 'GillSansC', sans-serif;
        span {
          font-size: 20px;
          line-height: 24px;
        }
        svg {
          min-width: 26px;
          margin-right: 10px;
        }
      }
      .submit-application {
        width: 100%;
        height: 90px;
        border-radius: 20px;
        background: #fff;
        color: #FF2500;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 32px;
        line-height: 32px;
        margin-top: 34px;
        cursor: pointer;
        span {
          margin-right: 10px;
          transition: .3s all;
        }
        &:hover {
          span {
            margin-right: 50px;
          }
        }
      }
    }
    &-avatar {
      width: 276px;
      height: 332px;
      border-radius: 10px;
      border: 1px solid #fff;
      object-fit: cover;
      margin-right: 20px;
    }
    .science {
      font-size: 20px;
      line-height: 24px;
      border: 1px solid #fff;
      border-radius: 30px;
      padding: 10px 20px;
      margin-right: 23px;
      cursor: default;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .classes {
    margin: 115px 0;
    &-card {
      color: #fff;
      width: 32.5%;
      height: 400px;
      padding: 20px;
      border-radius: 10px;
      margin-top: 50px;
      background-repeat: no-repeat;
      background-size: cover;
      &__title {
        font-size: 32px;
        line-height: 32px;
      }
      &__text {
        font-size: 22px;
        line-height: 26px;
        margin-top: 20px;
      }
      &__num {
        font-size: 50px;
        line-height: 50px;
      }
      &:nth-child(1) {
        background-image: url(../img/png/f1.png);
      }
      &:nth-child(2) {
        background-image: url(../img/png/f2.png);
      }
      &:nth-child(3) {
        background-image: url(../img/png/f3.png);
      }
    }
  }

  .needTo {
    &-card {
      width: 24%;
      height: 250px;
      border-radius: 10px;
      border: 1px solid #000;
      padding: 20px;
      margin-top: 50px;
      cursor: default;
      transition: .3s all;
      &__title {
        font-size: 42px;
        line-height: 42px;
      }
      &-item {
        margin-top: 30px;
        li {
          font-size: 30px;
          line-height: 36px;
          font-weight: 400;
        font-family: 'GillSansC', sans-serif;
          display: flex;
          align-items: center;
          &::before {
            content: '';
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: #000;
            margin-right: 20px;
          }
        }
      }
      &:hover {
        background: #000;
        color: #fff;
        li::before {
          background: #fff;
        }
      }
    }
  }

  .demonstrative {
    margin: 40px 0 75px;
    &-item {
      padding: 30px;
      border: 4px solid #000;
      border-radius: 10px;
      &__title {
        font-size: 42px;
        line-height: 42px;
        width: 40%;
      }
      &__download {
        width: 267px;
        height: 85px;
        border-radius: 5px;
        background: #000;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 32px;
        line-height: 32px;
        margin-top: 22px;
        transition: .3s all;
        span {
          margin-right: 15px;
        }
        svg {
          width: 33px;
        }
        &:hover {
          color: #fff;
          transform: translateY(-5px);
        }
      }
    }
  }

  .wrapper {
    background: #000;
    border-radius: 20px;
    margin: 16px;
    padding: 20px 0 190px;
    .header {
      margin-top: 0;
      margin-bottom: 130px;
      &-item {
        background: #fff;
        &__link {
          color: #000;
          &:hover {
              background: #000;
              color: #fff;  
          }
        }
        .active {
          background: #000;
          color: #fff;  
      }
      }
      .burger {
        svg rect{
          fill: #fff;
        }
      }
    }
    .title__text-sub {
      color: #fff;
      margin-top: 45px;
    }
  }

  .info-text {
    &__title {
      font-size: 50px;
      line-height: 61px;
      margin-top: 140px;
      text-transform: uppercase;
    }
    &__text {
      font-size: 50px;
      line-height: 50px;
      margin-top: 65px;
      span {
        color: #FF2500;
      }
    }
    .submit-application {
      width: 100%;
      height: 90px;
      border-radius: 20px;
      background: #000;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 32px;
      line-height: 32px;
      margin-top: 34px;
      cursor: pointer;
      margin: 45px 0 120px;
      span {
        margin-right: 10px;
        transition: .3s all;
      }
      &:hover {
        span {
          margin-right: 50px;
        }
      }
    }
  }

  .price {
    margin: 85px 0 215px;
    &__title {
      font-size: 46px;
      line-height: 56px;
      margin-bottom: 20px;
    }
    &-item {
      width: 32.5%;
      height: 400px;
      border-radius: 10px;
      padding: 20px;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 20px;
      &__title {
        font-size: 32px;
        line-height: 32px;
        width: 75%;
      }
      &__num {
        font-size: 50px;
        line-height: 50px;
      }
      &:nth-child(1) {
        background: #0038FF;
      }
      &:nth-child(2) {
        background: #000000;
      }
      &:nth-child(3) {
        background: #FF2500;
      }
    }
    &-item4 {
      background: #000 !important;
    }
    &-item5 {
      background: #0038FF !important;
      width: 66%;
      .price-item__title {
        font-size: 40px;
        line-height: 40px;
        width: 55%;
      }
    }
    &-head {
      padding: 28px 30px;
      font-size: 57px;
      line-height: 69px;
      border: 5px solid #000;
      border-radius: 11px;
      margin: 45px 0 70px;
    }
    &-last {
      margin-top: 90px;
    }
    &__png {
      width: 100%;
      object-fit: contain;
      margin-top: 70px;
    }  
  }

.contact {
  &__title {
    font-size: 51px;
    line-height: 62px;
  }
  .row:first-child {
    margin-top: 150px;
    svg {
      min-width: 56px;
      margin-right: 45px;
    }
  }
  &__text {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
        font-family: 'GillSansC', sans-serif;
  }
  &__link {
    width: 414px;
    height: 85px;
    background: #000;
    color: #fff;
    font-size: 32px;
    line-height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-align: center;
    margin-top: 30px;
    transition: .3s all;
    span {
      margin-right: 15px;
    }
    &:hover {
      color: #fff;
      transform: translateY(-5px);
    }
    svg {
      margin-right: 0 !important;
    }
  }
  &__img {
    width: 100%;
    object-fit: contain;
    margin: 75px 0;
  }
  &-item {
    margin-bottom: 50px;
    &:last-child {
      margin-bottom: 0;
    }
    &__title {
      font-size: 50px;
      line-height: 61px;
      text-transform: uppercase;
    }
    &__text,
    &__link {
      font-size: 42px;
      line-height: 48px;
      margin-top: 4px;
    }
    svg {
      margin-right: 30px;
    }
  }
  &-form {
    margin: 175px 0 125px;
    &-item {
      width: 40%;
      &:first-child {
        width: 58%;
      }
    }
    &__inp,
    &__text {
      width: 100%;
      height: 96px;
      border: 2px solid #ADADAD;
      margin-bottom: 39px;
      padding: 0 25px;
      font-size: 47px;
      line-height: 53px;
      color: #ADADAD;
      font-weight: 400;
        font-family: 'GillSansC', sans-serif;
      &:last-child {
        margin-bottom: 0;
      }
      &:focus {
        border-color: #000000;
      }
    }
    &__text {
      height: 100%;
      font-size: 36px;
      line-height: 41px;
      padding: 18px 25px;
      resize: none;
    }
    &__btn {
      width: 58%;
      height: 90px;
      background: #000;
      color: #fff;
      font-size: 32px;
      line-height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
      transition: .3s all;
      span {
        margin-right: 15px;
      }
      &:hover {
        color: #fff;
        transform: translateY(-5px);
      }
    }
  }
}    


.main {
  // overflow: hidden;
  section {
    width: 100%;
    height: 100vh;
    .show-anim {
      width: 20px;
      height: 20px;
      background: #000;
    }
  }
  .animate {
    background-image: url(../img/png/anim-bg.png);
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    margin-bottom: 150px;
    position: fixed;
    width: 100%;
    height: 100vh;
    animation: showAnim .5s linear;
    .handle {
      position: absolute;
      bottom: 10%;
      right: 2%;
      animation: handleAnim 1s linear  infinite;
    }
    &-box {
      max-width: 1260px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: transparent;
      .anim__img {
        max-width: 1260px;
        height: 100vh;
        object-fit: contain;
      }
      .print {
        position: absolute;
        top: 40px;
        width: 280px;
        height: auto;
        background-image: url(../img/png/text1.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding: 15px 25px;
        font-size: 15px;
        line-height: 18px;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        animation: animTop .6s ease-in;
        text-indent: 20px;
      }
    }
    .anim_1 {
      .print {
        left: 18%;
        height: 160px;
      }

    }
    .anim_3 {
      .anim__title {
        top: 25px;
        left: 30px;
      }
    }
    .anim_1_1 {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.65);
      backdrop-filter: blur(6.5px);
      display: flex;
      align-items: flex-end;
      justify-content: end;
      padding: 40px;
      z-index: 3;

      .print {
        background-image: url(../img/png/text_4_n.png);
        font-size: 15px;
        line-height: 18px;
        width: 400px;
        height: 220px;
        top: -60%;
        left: 5%;
        padding: 28px 40px;
      }
      img {
        width: 80%;
        object-fit: contain;
      }
    }
    .buttons {
      display: flex;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0px;
      z-index: 2;
      .btn {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        svg {
          height: 30px;
        }
        &:last-child {
          margin-right: 0;
        }
        &:hover {
          background: rgb(250, 248, 248);
          svg path {
            stroke: #5D65CD;
          }
        }
      }
    }

    // Animate page 2
    .anim_2,
    .anim_2_1 {
      .print{
        width: 350px;
        height: 160px;
        background-image: url(../img/png/text2.png);
        right: 25%;
      }
      .print2 {
        background-image: none;
        background-color: #fff;
        width: 250px;
        height: auto;
        border-radius: 60px;
        top: 50%;
        left: 25%;
        padding: 10px 20px;
        &::before {
          content: '';
          position: absolute;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          background: #fff;
          top: 90%;
          right: 100%;
          animation: animTop .6s ease-in;
        }
        &::after {
          content: '';
          position: absolute;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background: #fff;
          top: 130%;
          right: 115%;
          animation: animTop .6s ease-in;
        }
      }
    }
    .anim_2_1 {
      .print {
        width: 300px;
        height: 90px;
        top: 10%;
        right: 25%;
        background-image: url(../img/png/text2_1.png);
      }
      .print2 {
        width: 240px;
        height: 60px;
        top: 28%;
        left: 22%;
        padding: 20px;
      }
    }
    .anim_2_2 {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.65);
      backdrop-filter: blur(6.5px);
      display: flex;
      align-items: flex-end;
      justify-content: start;
      padding: 40px;
      z-index: 3;
      img {
        width: 70%;
        object-fit: contain;
        margin: 0 0 30px 70px;
      }
      .print {
        background-image: url(../img/png/text2_3.png);
        background-size: 100% 100%;
        border-radius: 80px;
        font-size: 15px;
        line-height: 18px;
        width: 350px;
        height: 240px;
        top: -35%;
        left: 40%;
        padding: 35px 40px;
      }
    }
    .anim_3,
    .anim_3_1,
    .anim_3_2,
    .anim_3_3 {
      .print {
        width: 260px;
        height: 160px;
        right: 3%;
      }
      .print2 {
        background-image: none;
        background-color: #fff;
        font-size: 14px;
        line-height: 16px;
        width: 260px;
        height: 80px;
        border-radius: 60px;
        top: 20%;
        left: 10%;
        padding: 15px 20px;
        &::before {
          content: '';
          position: absolute;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          background: #fff;
          top: 108%;
          left: 13%;
          animation: animTop .6s ease-in;
        }
        &::after {
          content: '';
          position: absolute;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background: #fff;
          top: 150%;
          left: 23%;
          animation: animTop .6s ease-in;
        }
      }
    }
    .anim_3_1 {
      .print {
        height: 100px;
      }
      .print2 {
        height: 80px;
        &::before {
          top: 108%;
          left: 40%;
        }
        &::after {
          top: 150%;
          left: 30%;
        }
      }
    }
    .anim_3_2 {
      .print {
        background-image: url(../img/png/text2.png);
        top: 10%;
        right: 23%;
        height: 90px;
        padding: 15px;
      }
      .print2 {
        top: 35%;
        left: 25%;
        height: 60px;
        width: 200px;
        padding: 20px 16px;
        height: 70px;
        &::before {
          top: 85%;
          left: -10%;
        }
        &::after {
          top: 120%;
          left: -20%;
        }
      }
    }
    .anim_3_3 {
      .print {
        width: 190px;
        height: 65px;
        background-image: url(../img/png/text2_1.png);
        right: 25%;
        top: 18%;
      }
      .print2 {
        width: 210px;
        height: 70px;
        left: 8%;
        top: 20%;
        padding: 10px 20px;
      }        
    }
    .anim_3_4 {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.65);
      backdrop-filter: blur(6.5px);
      display: flex;
      align-items: flex-end;
      justify-content: start;
      padding: 40px;
      z-index: 3;
      img {
        width: 70%;
        object-fit: contain;
        margin: 0 0 30px 70px;
      }
      
      .print {
        background-image: url(../img/png/text2_3.png);
        background-size: 100% 100%;
        border-radius: 80px;
        font-size: 15px;
        line-height: 18px;
        width: 340px;
        height: 180px;
        top: -30%;
        left: 55%;
        padding: 25px 30px 25px 45px;
      }
      .print2 {
        background-image: url(../img/png/tex3.png);
        background-size: 100% 100%;
        font-size: 15px;
        line-height: 18px;
        width: 350px;
        height: 150px;
        top: -75%;
        left: 25%;
        padding: 15px 40px;
      }
    }
  }

  .anim_4 {
    .print {
      width: 280px;
      height: 80px;
      right: 30%;
      top: 13%;
      background-image: url(../img/png/text2_1.png);
    }
  }
  .anim_4_1 {
    .print {
      width: 200px;
      height: 80px;
      top: 10%;
      background-image: url(../img/png/text_4.png);
      padding: 15px;
      left: 23%;
    }
    .print2 {
      width: 200px;
      height: 90px;
      left: 55%;
      top: 8%;
      background-image: url(../img/png/text_4_2.png);
      padding: 15px;
    }
    .print3 {
      width: 320px;
      height: 85px;
      left: 38%;
      top: 60%;
      background-image: url(../img/png/text_4_3.png);
      padding: 15px 15px 15px 40px;
    }
  }
  .anim_4_2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(6.5px);
    display: flex;
    align-items: flex-end;
    justify-content: end;
    padding: 40px;
    padding-bottom: 100px;
    z-index: 3;
    img {
      width: 70%;
      object-fit: contain;
    }
    .print {
      background-image: url(../img/png/text_4_n.png);
      font-size: 15px;
      line-height: 18px;
      width: 320px;
      height: 150px;
      top: -25%;
      right: 33%;
      padding: 20px 30px;
    }
    .print2 {
      background-image: url(../img/png/text_4_1_n.png);
      font-size: 14px;
      line-height: 16px;
      width: 300px;
      height: 180px;
      top: -90%;
      right: 15%;
      padding: 20px 30px;
    }
  }

  .anim_5 {
    .print {
      width: 320px;
      height: 130px;
      left: 16%;
      top: 13%;
    }
    .chat {
      position: absolute;
      top: 40px;
      right: 30px;
      width: 190px;
      height: 190px;
      border-radius: 50px;
      border: 1px solid #777676;
      color: #777676;
      padding: 15px;
     p {
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      margin-top: 5px;
      &:first-child {
        margin-top: 0;
      }
      span {
        margin-right: 15px;
      }
     }
    }
  }
  .anim_5_1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(6.5px);
    display: flex;
    align-items: flex-end;
    justify-content: start;
    padding: 40px;
    z-index: 3;
    img {
      width: 70%;
      object-fit: contain;
    }
    .print {
      background-image: url(../img/png/text2_3.png);
      font-size: 15px;
      line-height: 18px;
      width: 370px;
      height: 290px;
      top: -85%;
      left: 40%;
      padding: 30px 40px;
    }
  }
}
@keyframes animTop {
  from {
    transform: translateY(80px);
  } to {
    transform: translateY(0);
  }
}
.animate-box,
.anim {
  position: relative;
  transition: 1s all;
  transform-origin: 50% 0;
}
.lastPage {
  transform:  rotateX(90deg);
  position: absolute !important;
  z-index: 100;
  transition: .8s linear;
}
.animPage {
  position: absolute !important;
  transform: rotateX(90deg);
  z-index: 100;
  transition: .8s linear;
}

@keyframes showAnim {
  from {
    top: 100%;
  } to {
    top: 0;
  }
}
@keyframes handleAnim {
  from {
    transform: translateY(-10px) rotateY(180deg);
  } to {
    transform: translateY(10px) rotateY(180deg);
  }
}


  @import './_media'